<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Tests.Task_A_VerifyTableCellText">
        <classes>
            <class name="Tests.Task_A_VerifyTableCellText">
            </class>
            <class name="Tests.Task_B_ClickOnUpperMenu">
            </class>
        </classes>
    </test>
</suite>